.headline{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  font-family: 'Poppins', sans-serif;
  padding: 5px 20px;
  z-index: 1;
    background-color: #626262;
}
body, html {

  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
